:root {
    --clr-primary: #4aa96c;
    --clr-secundary: #9fe6a0;
    --clr-gray: #53665d;
}


html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}
h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
}
a {
    text-decoration: none;

}
body {
    font-size: 1.3rem;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
      color: #29211c;
}

.section{
    
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--clr-primary);
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
    margin: 0 auto;
    max-width: 38rem;
    
}

header { 
    background-color: var(--clr-secundary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5rem;
    margin: 0 auto;
   
}
.card{
    
    font-weight: bold;
    font-size: 1.3rem;
    max-width: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--clr-secundary);
    margin: 4rem auto;
    padding-top: 1.5rem;
    box-shadow: 0px 2px 8px 0px var(--clr-gray)
    
}
textarea {
    height: 4rem;
}

.btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f55c47;
    color:rgb(255, 255, 255);
}
.eight-ball{
    
    background-color: #564a4a;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin: 3rem auto;
    
}
.text-fill {
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
}
footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem; 
}


@media (min-width: 600px) {
    body {
        font-size: 1.8rem;
    }      
}
@media (min-width: 900px) {
    *{
        font-size: 1.8vw;
    }
    header{
        font-size: 1.5rem;
    }
   header > p {
       font-size: 1.5rem;
   }
   
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 3rem;
    }
    footer > p , a {
        font-size: 0.8rem;
    }
   
  
   
  
}