:root {
    --clr-primary: #4aa96c;
    --clr-secundary: #9fe6a0;
    --clr-dark: #29211c;
    
    
}


html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}
h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    font-family: 'Rokkitt', serif;
    color: var(--clr-dark);
}

body {
    font-size: 1.3rem;
    color: var(--clr-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

.section{
    
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--clr-primary);
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
    margin: 0 auto;
    max-width: 38rem;
    
}
header { 
    background-color: var(--clr-secundary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    font-weight: bold;   
}
.card{ 
    font-weight: bold;
    max-width: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--clr-secundary);
    margin: 3.5rem auto;
    padding-top: 1.5rem;
    box-shadow: 0px 1px 8px 0px rgb(193, 223, 203);
    
}
textarea {
    height: 4rem;
    background-color: rgb(245, 240, 223);
}

.btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f55c47;
    color:rgb(255, 255, 255);
}
button:hover{
    background-color: #f5a447;
    box-shadow: 0px 1px 2px 0px rgb(58, 66, 61);
    transition: all 0.3s ease-out;
}
button:active{
    opacity: 55%;
    color:rgb(204, 204, 204);
    box-shadow: 0px 1px 2px 0px var(--clr-secundary);
    box-shadow: inset 0px 2px 2px 0px var(--clr-primary);
    transition: all 0.5s ease-out;
    
}
.eight-ball{
    background-color: #564a4a;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin: 2.5rem auto;
    
}
.text-fill {
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
}
footer{ 
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 0.9rem; 
}
a{
    text-decoration: none;
    color: var(--clr-dark);
}
hr{
   height: 0.1px;
   min-width: 100%;
   color: var(--clr-secundary);
   opacity: 50%;
   margin-bottom: 1.5rem;
   
}


@media (min-width: 600px) {
    * {
        font-size: 1.3rem;
    }    
    footer > p, a{
        font-size: 0.9rem;
    }  
}
@media (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 2rem;
    }
   
  
   
  
}