:root {
    --clr-primary: #fffbdf;
    --clr-secundary: #c6ffc1;
    --clr-navy: #34656d;
    --clr-dark: #334443;
    --clr-orange: #f5a447;  
}
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}
h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    font-family: 'Rokkitt', serif;
    color: var(--clr-dark);
}
body {
    font-size: 1.3rem;
    color: var(--clr-dark);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}
.section{
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--clr-primary);
}
.grid {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    margin: 0 auto;
    max-width: 38rem;    
}
header { 
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 2rem;  
    /* border: 1px solid blue;  */
}
/* ANSWER */
#answer-container{

    text-align: center;
    background-color: var(--clr-secundary);
    border-radius: 1rem;
    width: 50%;
    margin: 1.3rem auto;
    color: var(--clr-navy);
    font-size: 1rem;
    padding: 0.3rem;

}
.buble-tail{
    position: relative;
    left: 16rem;
    top: 0.5rem;
    background-color: var(--clr-secundary);
    width: 2rem;
    height: 1.5rem;
    transform: rotate(-35deg);
    /* border: 1px solid black; */
}

/* CARD */
.card{ 
    font-weight: bold;
    max-width: 15rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--clr-secundary);
    margin: 3.5rem auto;
    padding-top: 1.5rem;
    box-shadow: 0px 1px 8px 0px rgb(158, 190, 169);     
}
textarea {
    height: 4rem;
    background-color: var(--clr-primary);
}
.btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--clr-navy);
    color:rgb(255, 255, 255);
}
button:hover{
    box-shadow: 0px 1px 2px 0px rgb(58, 66, 61);
    transition: all 0.3s ease-out;
}
button:active{
    opacity: 65%; 
    box-shadow: 0px 14px 4px -1px white;
    box-shadow: inset 0px 2px 2px 0px var(--clr-dark);
    transition: all 0.5s ease-out;    
}
.text-fill {
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
}

/* BOLA 8 */
.container{
    /* border: 1px solid red; */
    min-width: 38rem;
}
.eight-ball{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto; 
    background-color: #564a4a;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;   
}
#eight{
    position: relative;
    top: -4.6rem;
    font-size: 5rem;      
}
.eight-container{
    position: relative;
    top: 2rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background-color: var(--clr-secundary);
}

footer{ 
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 0.9rem; 
}
a{
    text-decoration: none;
    color: var(--clr-dark);
}
hr{
   height: 0.1px;
   min-width: 100%;
   color: var(--clr-secundary);
   opacity: 40%;
   margin-bottom: 1.5rem;
   
}
@media (min-width: 600px) {
    /* * {
        font-size: 1.3rem;
    }     */
    footer > p, a{
        font-size: 0.9rem;
    }  
    #answer-container > p{
        font-size: 1rem;
    }
    
}
@media (min-width: 900px) {
    .container {
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
 
   
  /* cambiar al hacer focus el borde negro del textarea y el color del texto del input */
   
  
}